@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-Regular.ttf');
}

#go {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto 0 auto;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  border: 0px solid black;
  color: #F8F8F2;
  background: #ff6f6f;
}

#go:hover {
  background: #ff5d5d;
}

body {
  background: #272822;
  color: #F8F8F2;
}

#text {
  position: fixed;
  font-family: Inconsolata;
  font-size: 20px;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30;
}

div.CodeMirror {
  position: fixed;
  top: 40; left: 0; right: 0; bottom: 0;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dropdown select {
  background-color: #129612;
  color: #fff;
  font-size: inherit;
  padding: 1em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
}
